POSTGRES_USER = user
POSTGRES_PASSWORD = password
POSTGRES_DB = db_name

REDIS_HOST = redis
REDIS_PORT = 6379

JWT_SECRET = jwt_secret

QUTTERA_API_KEY = api_key
QUTTERA_BASE_URL = http://scannerapi.quttera.com

ABUSEIPDB_API_KEY = api_key

SMTP_SERVER = smtp.gmail.com
SMTP_PORT = 587
SMTP_USER = smtp_user
SMTP_PASSWORD = password

FRONTEND_URL = url

ADMIN_EMAIL = admin_id
ADMIN_PASSWORD = admin_pass

RECAPTCHA_SECRET_KEY = secret_key
RECAPTCHA_ENABLED = false
    