@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-brand: #3b2a8d; /* Deep purple from 'Upgrade today' */
  --color-primary: #3b2a8d; /* Support for text-primary classes in new layout */
  --color-brand-light: #5f42d6; /* Purple from main card */
  --color-status-success: #1fae62; /* Green from the score 100 */
  --color-status-warning: #f1922c; /* Orange from score 86 */
  --color-status-danger: #ea2727;
  --radius-custom: 8px;
}

@layer base {
  body {
    background-color: #fcfcfc;
    color: #1a1a1a;
  }
  
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
  }
}
